
@keyframes DetailsAnimation{
    from {
        transform: translate(0px, -30px);
    }
    to {
        transform: translate(0, 1px);
    }
}

a {
    text-decoration: none;
    color: white;
}

:root {
    --font_section_hero: 16px;
    --font_aboutusText: 40px;
}


* {
    margin: 0;
    padding: 0;
}

body {
    width: 99.1vw;
    height: 100vh;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #056d72;
    border-radius: 5px;
    opacity: 10%;
    filter: blur(10px);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #023133;
}

.body {
    width: 99.1vw;
    height: 100vh;
    overflow-x: hidden;
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    opacity: 90%;
    color: rgb(231, 228, 228);
    height: 50px;
    opacity: 90%;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 10;

    & h1 {
        font-size: 12px;
        margin-left: 20px;
    }

    & ul 
    {
        display: flex;
        gap: 30px;
        margin-right: 55px;


    & li {
        list-style: none;
        font-size: 0.6rem;
        font-weight: 550;
    }

    }

}

.Hero_Section {
    width: auto;
    height: 350px;
    color: white;
    position: relative;
    background-color: #034b4e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    z-index: 1;

    & h1 {
        font-size: var(--font_section_hero);
        z-index: 4;
    }

    & h2 {
        font-size: calc(var(--font_section_hero) / 1.4);
        z-index: 4;
    }

    & button {
        margin-top: 30px;
        padding: 10px;
        width: 60%;
        border-radius: 20px;
        border: none;
        opacity: 1;
        background-color: #034b4e;
        border: 1px solid;
        color: white;
        font-weight: 800;
        border: none;
        z-index: 4;
        max-width: 500px;
    }

    & button:hover {
        background-color: #03484b;
        cursor: pointer;
    }

    & img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%; 
        opacity: 0.2;
        background-color: transparent;
        z-index: 1;
        max-width: 100%;
        object-fit: cover;
    }
}

.AboutUs_Section {

    margin-top: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;

    & .aboutUs_title {
        font-size: calc(var(--font_aboutusText));
        color: #03575B;
    }

    & .AboutUs_Text 
    {
        width: 99%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        & h2 {
            font-size: calc(var(--font_aboutusText)/2.1);
            color: #076469;
            font-size: 18px;
            padding: 20px;
            text-align: justify;
        }
    }

    & .aboutUs_ImageContainer {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 30px;
        gap: 20px;
        flex-wrap: wrap;
        

        & img {
            border: 1px solid #03575B;
            width: 45%;
            height: 250px;
            margin-bottom: 20px;
            min-width: 130px;
            max-width: 280px;
            border-radius: 15px;
            box-shadow: 2px 2px 4px 4px #023436;
        }

    }

}

.Feats_Section {

    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
    transition: 1s;
    

    .Feat {
        width: 20%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        transition: 1s;


        img {
            width: 30%;
            transition: 1s;
        }

        h1 {
            font-size: 16px;
            color: #012b2c;
            font-weight: 800;
            transition: 1s;
        }
    }
}

.Services_Section {
    margin-top: 40px;
    width: 100%;
    background-color: #034b4e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    h1 {
        font-size: 40px;
        color: white;
    }

    .services_container {

        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
        align-items: center;
        padding: 20px;
        max-width: 1110px;

        .services {
            summary {
                width: 250px;
                height: 200px;
                background-color: white;
                border-radius: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 10px;
                transition: 0.5s;
                cursor: pointer;
                

                h1 {
                    color: #033a3b;
                    font-size: 30px;
                    margin-bottom: 20px;
                }
    
                img {
                    width: 40%;
                }
            }

            summary:hover {
                margin-bottom: 20px;
                transition: 0.5s;
            }

            & .service_text {
                
                
                & textarea {
                    margin-top: 10px;
                    transition: 1s;
                    width: 90%;
                    height: 200px;
                    padding: 20px;
                    z-index: 10;
                    background-color: #034649;
                    color: white;
                    border: none;
                    border-radius: 30px;
                    text-align: justify;
                    font-size: 13px;
                    backdrop-filter: blur(20px);
                    resize:none;
                    transition: 1s;
                }
            }

            ::-webkit-scrollbar {
                background-color: transparent;
            }
        }

        & .services[open] .service_text {
            color: yellow;
            overflow: visible;
            animation-delay: 0s;
            animation-name: DetailsAnimation;
            animation-duration: 1s;
            animation-direction: normal; 
            
        }
    }

}

.profissionals_Section {
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    gap: 50px;
    font-size: 30px;

    .profissionals_container {

        display: flex;
        width: 100%;
        justify-content: center;
        gap: 30px;

        & .profissional_card {
            width: 30%;
            border: 1px solid;
            text-align: center;
            padding: 20px;
            background-color: #03575B;
            border-radius: 30px;
    
            & h2 {
                margin-top: 40px;
                font-size: 17px;
                color: white;
            }
    
            & img {
                width: 80%;
                max-width: 200px;
                border-radius: 100px;
            }
    
            & h1 {
                border-bottom: 1px solid;
                padding-bottom: 10px;
                width: 100%;
                color: white;
                font-size: 26px;
            }
        }
    }

}

.commentClient_Section {
    width: 100%;
    border: 1px solid;
    margin-top: 60px;
    background-color: #034b4e;
    border: none;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 200px;
    padding-bottom: 200px;
    

  /*  & .commentClient_BackgroundImage {
        width: 100%;
        height: 100%;
        opacity: 20%;
        z-index: 1;
        position: absolute;
        top: 0%;
        left: 0%;
        
    } */

    & .commentClient_container {


        display: flex;
        width: 100%;
        justify-content: center;
        gap: 14%;
        
        
        & .commentClient {

            width: 60%;
            background-color: rgb(255, 255, 255);
            padding: 30px;
            border-radius: 30px;
            box-shadow: 3px 5px 13px 5px rgb(63, 62, 62);
            flex-shrink: 0;
            
            
           
    
        & .commentClient_Picture {
           
            display: flex;
            align-items: center;
            gap: 20px;
            
    
            & img {
                width: 13%;
                border: 1px solid;
                border-radius: 100px;
                padding: 5px;
                margin-left: 10px;
                background-color: #011516;
            }
    
            & h1 {
                font-size: 32px;
                font-weight: 700;
                color: #032425;
            }
    
        }
    
        & .commentClient_stars {
    
            border-bottom: 1px solid;
            display: flex;
            align-items: center;
            padding: 10px;
            margin-top: 10px;
    
            & img {
                width: 5%;
            }
    
            }
    
        & h2 {
            margin-top: 30px;
            font-size: 22px;
            color: #012122;
        }
        }
    }

    & .buttons_changeContainer {

        display: flex;
        position: absolute;
        justify-content: space-between;
        padding: 20px;
        width: 98%;
        

        & .button_changeComment {
            width: 7%;
            z-index: 4;
            padding: 10px;
           
        }


        & #btn_changeComment1 {
            rotate: 180deg;
        }

        & #btn_changeComment1:hover {
            box-shadow: 0px -10px 20px 1px;
        }

        & #btn_changeComment2:hover {
            box-shadow: 0px 10px 20px 1px;
        }
    }


    & .commentClient {

        width: 50%;
        background-color: rgb(255, 255, 255);
        padding: 20px;
        border-radius: 30px;
        box-shadow: 3px 5px 13px 5px rgb(63, 62, 62);
        transition: 1s;
        transform: translate(0%, 0);

    & .commentClient_Picture {
       
        display: flex;
        align-items: center;
        gap: 20px;
        

        & img {
            width: 13%;
            border: 1px solid;
            border-radius: 100px;
            padding: 5px;
            margin-left: 10px;
            background-color: #011516;
        }

        & h1 {
            font-size: 32px;
            font-weight: 700;
            color: #032425;
            z-index: 10;
        }

    }

    & .commentClient_stars {

        border-bottom: 1px solid;
        display: flex;
        align-items: center;
        padding: 10px;
        margin-top: 10px;

        & img {
            width: 5%;
        }

        }

    & h2 {
        margin-top: 30px;
        font-size: 22px;
       /* color: #012122;*/
        z-index: 10;
    }
    }

    & .radioCarrousel_Container 
{

        z-index: 5;
        position: absolute;
        top: 80%;
        width: 50%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        & .carrousel_radio {
            z-index: 6;
            width: 25px;
            height: 25px;
            margin: 2px;
            color: #011516;
            display: none;
        }

        & label {
            border: 1px solid;
            width: 25px;
            height: 25px;
            border-radius: 200px;
            margin-left: 15px;
            background-color: #012629;
            opacity: 70%;
            border: none;
            cursor: pointer;
    }

    & label:hover {
        background-color: #057f88;
    }
}
}

.contacts_section {
    width: 100%;
    height: 400px;
    display: flex;
    margin-top: 30px;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;

    & .contacts_text {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & h1 {
            text-align: center;
            font-size: 30px;
            color: #033e41;
        }

        & h2 {
            font-size: 15px;
            color: #034b4e;
            text-decoration: underline;
        }
    }

    & .contacts_container {
        width: 95%;
        height: 400px;
        margin-top: 40px;
        background-color: #034b4e;
        border-radius: 30px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        
        & #whatsapp_contact {
            background-color: #0b7a6d;
            border: none;
            cursor: pointer;
        }

        & #whatsapp_contact:hover {
            transition: 0.5s;
            background-color: #09645a;
        }

        & .contact {
            width: 80%;
            border: 1px solid;
            text-align: center;
            display: flex;
            padding: 20px;
            justify-content: center;
            align-items: center;
            position: relative;
            border-radius: 30px;
            gap: 20px;
            text-decoration: none;

            & img {
                width: 8%;
                position: absolute;
                left: 2%;
            }

            & h1 {
                color: white;
                font-size: 15px;
            }

        }
    }
}

footer {
    width: 100%;
    height: auto;
    margin-top: 100px;
    background-color: #034b4e;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;

    & .footer_data_1 {
        
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid white;
        gap: 30px;
        flex-direction: column;
        padding-bottom: 40px;
    
        & .local_map {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            

        & .local_map_text {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;

            & img {
                width: 10%;
            }

            & h2 {
                color: white;
            }
        }

            & h1 {
                font-size: 20px;
                width: 100%;
                text-align: center;
                color: white;
                margin-bottom: 10px;
                margin-top: 10px;
            }
    
            & iframe {
                width: 90%;
                height: 300px;
                
                border: 1px solid;
                border-radius: 20px;
            }
        }

        & .service_hours {
            color: white;

            & h1 {
                font-size: 30px;
                margin-bottom: 20px;
            }

            & h2 {
                font-size: 20px;
                text-align: center;
                margin-top: 20px;
            }
        }
    }

    & .footer_data_2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin-bottom: 60px;

        & h1 {
            color: white;
            margin-bottom: 30px;
            font-size: 25px;
        }

        & .social_network {

            display: flex;
            justify-content: center;
            gap: 30px;
            align-items: center;

            & img {
                width: 8%;
            }
        }

        
    }
}

@media screen and (max-width: 800px) 
{
    .AboutUs_Section {

        & .aboutUs_ImageContainer 
        {
            & img {
                width: 43%;
                height: 180px;
                margin-bottom: 20px;
            }
        }
    
    }

    body {
        width: 100vw;
    }

    .Feats_Section {

        & .Feat {

            & img {
                width: 60%;
            }

            & h1 {
                font-size: 12px;
            }
        }
    }

    .profissionals_Section {

        & h1 {
            font-size: 23px;
        }
    } 
}

@media  screen and (max-width: 860px) {
    .Services_Section {
        & .services_container {
            .services {
                & summary {
                    & h1 {
                        font-size: 20px;
                    }
                }
            }
        }
    }  

    
}

@media screen and (max-width: 500px) {
    
    .commentClient_Section {
        & .commentClient_container
        {
            gap: 60px;

            & .commentClient {

                width: 70%;

                & .commentClient_Picture {
                    & h1 {
                        font-size: 20px;
                    }
                }

                & .commentClient_stars {
                    & img {
                        width: 10%;
                    }
                }

                & h2 {
                    font-size: 16px;
                }
            }
        }
    }
}

@media  screen and (max-width: 350px) {


    :root {
        --font_section_hero: 13px;
        --font_aboutusText: 40px;
    }

    .Hero_Section {
        & button {
            width: 80%;
        }
    }

    .AboutUs_Section {

        & .aboutUs_ImageContainer 
        {
            & img {
                width: 43%;
                height: 180px;
                margin-bottom: 20px;
            }
        }
    
    }

    .profissionals_Section {
        & h1 {
            font-size: 16px;
        }
    }

    
}

@media screen and (max-width: 800px) {
    .profissionals_Section {
        & .profissionals_container {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & .profissional_card {
                display: flex;
                flex-direction: column;
                width: 80%;
                
                align-items: center;
                

                & img {
                    width: 100px;
                    height: 100px;
                }

                & h1 {
                    font-size: 16px;
                    border-bottom: 1px solid;

                }

                & h2 {
                    font-size: 16px;
                }
            }
        }
    }
}

@media  screen and (min-width: 850px) {


    :root {
        --font_section_hero: 25px;
        --font_aboutusText: 40px;
    }

    .Hero_Section {

        height: 650px;

        & button {
            width: 80%;
        }
    }

    .AboutUs_Section {

        display: flex;
        flex-direction: row;
        margin-left: 10px;
        justify-content: center;
        width: 100%;
        padding-bottom: 20px;
        align-items: center;
       
        
        & .AboutUs_Text {
            width: 60%;
            display: flex;
            max-width: 700px;
            border-radius: 30px;
            background-color: #045255;
            box-shadow: 2px 2px 4px 4px #023536;
            padding: 50px;
            height: 500px;
            

            & h2 {
                font-size: 16px;
                text-align: justify;
                width: 100%;
                padding: 10px;
                
            }

            & h1, h2 { 
                color: white;
            }

            
        }

        & .aboutUs_ImageContainer 
        {
            display: flex;
            flex-direction: row;
            width: 70%;
            height: auto;
            align-items: center;
            justify-content: center;
            max-width: 1000px;
            gap: 30px;
            
            

            & img {
                width: 40%;
                height: auto;
                margin-bottom: 20px;
                max-width: 350px;
                max-height: 270px;
            }
        }
    
    }

    .Services_Section {

        .services_container {
            .services {
                summary {
                    width: 300px;
                    height: 300px;
                }
            }
        }

    }

    .Feats_Section {

        & .Feat {

            & img {
                width: 20%;
            }

            & h1 {
                font-size: 18px;
            }
        }
    }

    .contacts_section {
        width: 100%;
        height: 700px;
        display: flex;
        margin-top: 30px;
        padding-top: 30px;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 100px;
    
        & .contacts_text {
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            & h1 {
                text-align: center;
                font-size: 40px;
                color: #033e41;
            }
    
            & h2 {
                font-size: 30px;
                color: #034b4e;
                text-decoration: underline;
            }
        }
    
        & .contacts_container {
            width: 60%;
            height: 600px;
            margin-top: 40px;
            background-color: #034b4e;
            border-radius: 30px;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            
            & #whatsapp_contact {
                background-color: #0b7a6d;
                border: none;
                cursor: pointer;
            }
    
            & #whatsapp_contact:hover {
                transition: 0.5s;
                background-color: #09645a;
            }
    
            & .contact {
                width: 70%;
                border: 1px solid;
                text-align: center;
                display: flex;
                padding: 20px;
                justify-content: center;
                align-items: center;
                position: relative;
                border-radius: 30px;
                gap: 20px;
                text-decoration: none;
                & img {
                    width: 4%;
                    position: absolute;
                    left: 2%;
                }
    
                & h1 {
                    color: white;
                }
    
            }
        }
    }

    footer {
        width: 100%;
        height: 700px;
        border: 1px solid;
        margin-top: 100px;
        background-color: #034b4e;
        display: flex;
        align-items: center;
        flex-direction: row;
    
        & .footer_data_1 {
            
            width: 60%;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid white;
            border-bottom: none;
            flex-direction: row;
            
            gap: 30px;
        
            & .local_map {
                width: 60%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                
    
            & .local_map_text {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
    
                & img {
                    width: 10%;
                }
    
                & h2 {
                    color: white;
                }
            }
    
                & h1 {
                    font-size: 20px;
                    width: 100%;
                    text-align: center;
                    color: white;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }
        
                & iframe {
                    width: 20%;
                    height: 300px;
                    min-width: 400px;
                    border: 1px solid;
                    border-radius: 20px;
                }
            }
    
            & .service_hours {
                color: white;
    
                & h1 {
                    font-size: 40px;
                    margin-bottom: 20px;
                }
    
                & h2 {
                    font-size: 22px;
                    text-align: center;
                    margin-top: 20px;
                }
            }
        }
    
        & .footer_data_2 {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 30%;
            margin-left: 0px;
    
            & h1 {
                color: white;
                margin-bottom: 30px;
            }
    
            & .social_network {
    
                display: flex;
                justify-content: center;
                gap: 30px;
                align-items: center;
    
                & img {
                    width: 15%;
                }
            }
    
            
        }
    }
}